<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi Burrito</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__left">
            <img src="../../public/images/logo.jpg" alt="Logo Sushi Burrito" class="header__logo">
        </div>
        <div class="header__center">
            <h1>Panel Administrativo Sushi Burrito</h1>
        </div>
        <div class="header__right">
            <button class="btn btn--secondary header__logout-button">Cerrar Sesión</button>
        </div>
    </header>
</body>
</html>