/*
 * Estilos específicos para la página de recuperación de contraseña
 * Complementa los estilos de 'login.css'
 */

 .login-left-container::before {
  background-image: url('/imagenLoginForgotPassword.jpg'); /* Imagen específica para esta vista */
}


.auth-card__description {
  text-align: center;
  margin-bottom: var(--spacing-medium);
  color: var(--color-text);
  font-size: var(--font-size-normal);
}